/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.chess-board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  margin: auto;
}
